<div class="post-main">
    <div class="thumbnail-post">
        <img src="./Images/default.jpg" alt="default" style="border-radius: 50%;" width="60px" height = "60px">
        <div class="post">
            <div id="controls{{_id}}" class="nameAndControls">
                <h5><a href="/profile/{{author}}" class = "link-color" target = "_self" style="text-decoration: none">@{{author}}</a></h5>
                {{#if isAuthor}}
                    <button type="button" class="btn button-style" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(131, 131, 131);">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item editPost" data-bs-toggle="modal" data-bs-target="#editModal{{_id}}">Edit Post</a></li>
                        <li><a class="dropdown-item deletePost">Delete Post</a></li>
                    </ul>
                {{/if}}
            </div>
            
            <h6 class="gray">{{date}}</h6>
            
            <div onclick="location.href='/view/post/{{_id}}';" style="cursor: pointer;">
                <p id="{{_id}}">{{post}}</p>
            </div>

        </div>

    </div>
    <div class="btn-group post-controls" role="group" aria-label="Basic outlined example">
        {{!-- <i class="far fa-heart"></i> --}}
        {{#if isLiked}}
            <button id="like{{_id}}" type="button" class="btn far fa-heart" style="color: red">{{likes}}</button>
        {{else}}
            <button id="like{{_id}}" type="button" class="btn far fa-heart" style="color: rgb(131, 131, 131)">{{likes}}</button>
        {{/if}}
        <button class="btn button-style" type="button" data-bs-toggle="collapse" data-bs-target="#C{{_id}}" aria-expanded="true" aria-controls="C{{_id}}"><i class="fas fa-comments"></i> Comments</button>

    </div>
</div>
<div class="collapse" id="C{{_id}}">
    <div class="card card-body">
    
        {{#if comments}}
            {{#each comments}}
                {{> comment}}
            {{/each}}
        {{else}}
            <p class="nocomment{{_id}}" style="margin-left: auto; margin-right: auto; color: rgb(131, 131, 131)">No comments to show!</p>
        {{/if}}
        <div id="comment{{_id}}" class="post-form">
            <textarea name="commentBox" class="form-control textarea-margin"  rows="2" placeholder="Comment something!" style="resize: none;"></textarea>
            <button type="button" class="btn btn-primary btn-sm submit-comment">Post</button>
        </div>        
        {{!-- <p class="commentError"></p> --}}
    </div>
</div>
<hr>

<div class="modal fade" id="editModal{{_id}}" tabindex="-1" aria-labelledby="editModal{{_id}}Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="edit{{_id}}" class="modal-body">
                <div class="post-form">
                    <img src="./Images/default.jpg" alt="default" style="border-radius: 50%;" width="60px" height = "60px">
                    <textarea class="form-control" rows="4" placeholder="Reply here!" style="resize: none;">{{post}}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary editPost">Save</button>
            </div>
        </div>
    </div>
</div>