            <div id = "right-panel">
                <h4>Suggested users</h4>
                <hr>
                <div class="card card-body">
                    <div class="thumbnail-post">
                        <img src="./Images/marvin_limuwu.jpg" alt="marvin" width="60px" height = "60px">
                        <div class="post">
                            <h5><a href="/profile/{{det1.username}}" class = "link-color" target = "_self" style="text-decoration: none">@marvin_limuwu</a></h5>
                            <p>Certified Weeb + Furry.</p>
                        </div>
                    </div>
                    <button type="button" style="color: rgb(8, 113, 235);" class="btn btn-outline-info btn-sm">Following</button>
                </div>

                <div class="card card-body">
                    <div class="thumbnail-post">
                        <img src="./Images/michelle_gubang.jpg" alt="michelle" width="60px" height = "60px">
                        <div class="post">
                            <h5><a href="/profile/{{det1.username}}" class = "link-color" target = "_self" style="text-decoration: none">@michelle_gubang</a></h5>
                            <p>Random World of Warcraft player!</p>
                        </div>
                    </div>
                    <button type="button" style="color: rgb(8, 113, 235);" class="btn btn-outline-info btn-sm">Following</button>
                </div>

                <div class="card card-body">
                    <div class="thumbnail-post">
                        <img src="./Images/gigachad.jpg" alt="gigachad" width="60px" height = "60px">
                        <div class="post">
                            <h5><a href="/profile/{{det1.username}}" class = "link-color" target = "_self" style="text-decoration: none">@gigachad</a></h5>
                            <p>Sup.</p>
                        </div>
                    </div>
                    <button type="button" style="color: rgb(8, 113, 235);" class="btn btn-outline-info btn-sm">Following</button>
                </div>

                <div class="card card-body">
                    <div class="thumbnail-post">
                        <img src="./Images/aldoMercs.jpg" alt="aldoMercs" width="60px" height = "60px">
                        <div class="post">
                            <h5><a href="/profile/{{det1.username}}" class = "link-color" target = "_self" style="text-decoration: none">@aldoMercs</a></h5>
                            <p>Get that corn outta my face</p>
                        </div>
                    </div>
                    <button type="button" style="color: rgb(8, 113, 235);" class="btn btn-outline-info btn-sm">Following</button>
                </div>

                {{!-- if the logged in user is not tongki use this --}}
                <div class="card card-body">
                    <div class="thumbnail-post">
                        <img src="./Images/tongki.jpg" alt="tongki" width="60px" height = "60px">
                        <div class="post">
                            <h5><a href="/profile/{{det1.username}}" class = "link-color" target = "_self" style="text-decoration: none">@tongki</a></h5>
                            <p>EZ game = EZ life</p>
                        </div>
                    </div>
                    <button type="button" style="color: rgb(8, 113, 235);" class="btn btn-outline-info btn-sm">Following</button>
                </div>
                
            </div>