<div class="contour">
    <img src="/Images/default.jpg" alt="default" class="profile-picture2">
    <div class="profile-name">{{profileDetails.firstname}} {{profileDetails.lastname}}</div>
    <div class="profile-username">@{{profileDetails.username}}</div>
    <p id="profile-userID" hidden>{{profileDetails._id}}</p>
    {{#if profileDetails.isNotOwnAccount}}
        {{#if profileDetails.isFollowing}}
            <button id="follow-unfollow" type="button" class="btn btn-outline-info btn-md">Unfollow</button> <br>
        {{else}}
            <button id="follow-unfollow" type="button" class="btn btn-outline-info btn-md">Follow</button> <br>
        {{/if}}
    {{else}}
        <p><a href="/settings/account" target="_self" style = "text-decoration: none;"><i class="fas fa-pencil-alt"></i>  Edit Profile</a></p>
    {{/if}}
    <br>
    <div class="profile-detail">
        <i class="material-icons">groups</i><a href="/profile/{{profileDetails.username}}/following" style="text-decoration: none; color: gray">Following<p id="numFollowing">{{profileDetails.following}}</p></a>
        <i class="material-icons">groups</i><a href="/profile/{{profileDetails.username}}/followers" style="text-decoration: none; color: gray">Followers<p id="numFollowers">{{profileDetails.followers}}</p></a>
        
    </div>
    <div class="profile-bio">{{profileDetails.bio}}</div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-6 col-lg-9 col-sm-12">
            <p id="loggedin-userID" hidden>{{loggedinUser.userID}}</p>
            <div id = "main-panel" class = "overflow-auto">
                <div class="back">
                    {{!-- back button --}}
                    <a onclick="goBack()" target = "_self" class="btn" type="submit"><i class="material-icons">arrow_back</i> </a>
                </div>                   
                <hr>
                {{#if followinglist}}
                    {{#each followinglist}}
                        <div class="post-main">
                            <div class="thumbnail-post">
                                <p id="profile-userID" hidden>{{_id}}</p>
                                <div>
                                    <img src="/Images/default.jpg" alt="default" style="border-radius: 50%;" width="60px" height = "60px">
                                </div>
                                <div class="justify-content-between">
                                    <div class="post">
                                        <div id="controls{{_id}}">
                                            <p class="profile-name">{{firstName}} {{lastName}}</p>
                                            <a href="/profile/{{username}}" class = "link-color" target = "_self" style="text-decoration: none">@{{username}}</a>
                                            <p>{{bio}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        {{#if isNotOwnAccount}}
                                            {{#if isFollowing}}
                                                <button id="follow{{_id}}" type="button" class="btn btn-outline-info btn-sm multi-follow">Unfollow</button>
                                            {{else}}
                                                <button id="follow{{_id}}" type="button" class="btn btn-outline-info btn-sm multi-follow">Follow</button>
                                            {{/if}}
                                        {{/if}}                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Edit Post Modal --}}
                    <hr>
                    {{/each}}
                {{else}}
                    <p style="margin-left: auto; margin-right: auto; color: rgb(131, 131, 131)">No followings yet!</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>
<script>
    function goBack() {
        window.location=document.referrer;
    }
</script>