<div class="container">
    <div class="row justify-content-center">

        <div class="col-xxl-6 col-xl-6 col-lg-9 col-sm-12">
            <p id="loggedin-userID" hidden>{{loggedinUser._id}}</p>
            <div id = "main-panel" class = "overflow-auto">
                <div class="back">
                    {{!-- back button --}}
                    <a onclick="goBack()" target = "_self" class="btn" type="submit"><i class="material-icons">arrow_back</i> </a>
                </div>
                <hr>
                {{#if likerlist}}
                    {{#each likerlist}}
                        <div class="post-main">
                            <div class="thumbnail-post">
                                <p id="profile-userID" hidden>{{_id}}</p>
                                <div>
                                    <img src="/Images/default.jpg" alt="default" style="border-radius: 50%;" width="60px" height = "60px">
                                </div>
                                <div class="justify-content-between">
                                    <div class="post">
                                        <div id="controls{{_id}}">
                                            <p class="profile-name">{{firstName}} {{lastName}}</p>
                                            <a href="/profile/{{username}}" class = "link-color" target = "_self" style="text-decoration: none">@{{username}}</a>
                                            <p>{{bio}}</p>
                                        </div>
                                    </div>
                                    <div>
                                        {{#if isNotOwnAccount}}
                                            {{#if isFollowing}}
                                                <button id="follow{{_id}}" type="button" class="btn btn-outline-info btn-sm multi-follow">Unfollow</button>
                                            {{else}}
                                                <button id="follow{{_id}}" type="button" class="btn btn-outline-info btn-sm multi-follow">Follow</button>
                                            {{/if}}
                                        {{/if}}                           
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- Edit Post Modal --}}
                    <hr>
                    {{/each}}
                {{else}}
                    <p style="margin-left: auto; margin-right: auto; color: rgb(131, 131, 131)">No one liked this post yet!</p>
                {{/if}}        
            </div>
        </div>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>