<div class="contour">
    <img src="/Images/default.jpg" alt="default" class="profile-picture2">
    <div class="profile-name">{{profileDetails.firstname}} {{profileDetails.lastname}}</div>
    <div class="profile-username">@{{profileDetails.username}}</div>
    <p id="profile-userID" hidden>{{profileDetails._id}}</p>
    {{#if profileDetails.isNotOwnAccount}}
        {{#if profileDetails.isFollowing}}
            <button id="follow-unfollow" type="button" class="btn btn-outline-info btn-md">Unfollow</button> <br>
        {{else}}
            <button id="follow-unfollow" type="button" class="btn btn-outline-info btn-md">Follow</button> <br>
        {{/if}}
    {{else}}
        <p><a href="/settings/account" target="_self" style = "text-decoration: none;"><i class="fas fa-pencil-alt"></i>  Edit Profile</a></p>
    {{/if}}
    <br>
    <div class="profile-detail">
        <i class="material-icons">groups</i><a href="/profile/{{profileDetails.username}}/following" style="text-decoration: none; color: gray">Following<p id="numFollowing">{{profileDetails.following}}</p></a>
        <i class="material-icons">groups</i><a href="/profile/{{profileDetails.username}}/followers" style="text-decoration: none; color: gray">Followers<p id="numFollowers">{{profileDetails.followers}}</p></a>
        
    </div>
    <div class="profile-bio">{{profileDetails.bio}}</div>
</div>

<div class="container">

    <div class="row justify-content-center">
        <div class="col-xxl-6 col-xl-6 col-lg-9 col-sm-12">
            <p id="loggedin-userID" hidden>{{loggedinUser.userID}}</p>
            <div id = "main-panel" class = "overflow-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                        Comments
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile/{{profileDetails.username}}">Posts</a></li>
                        <li><a class="dropdown-item" href="/profile/{{profileDetails.username}}/likes">Likes</a></li>
                    </ul> 
                </div>
                <hr>
                {{#if result3}}
                    {{#each result3}}
                        <div class="post-main">
                            <div class="thumbnail-post">
                                <img src="/Images/default.jpg" alt="default"  width="60px" height = "60px">
                                <div class="post">
                                    <div id="controls{{_id}}" class="nameAndControls">
                                        <h5><a href="/profile/{{author.username}}" class = "link-color" target = "_self" style="text-decoration: none">@{{author.username}}</a></h5>                                        
                                        {{#if isAuthor}}
                                            <button type="button" class="btn button-style" data-bs-toggle="dropdown" aria-expanded="false" style="color: rgb(131, 131, 131);">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item editComment" data-bs-toggle="modal" data-bs-target="#editModal{{_id}}">Edit Comment</a></li>
                                                <li><a class="dropdown-item deleteComment">Delete Comment</a></li>
                                            </ul>         
                                        {{/if}}                                          
                                    </div>
                                    <h6 class="gray">{{date}}</h6>
                                    <p id="{{_id}}">{{comment}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editModal{{_id}}" tabindex="-1" aria-labelledby="editModal{{_id}}Label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Comment</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div id="edit{{_id}}" class="modal-body">
                                        <div class="post-form">
                                            <img src="/Images/default.jpg" alt="default" style="border-radius: 50%;" width="60px" height = "60px">
                                            <textarea class="form-control" rows="4" placeholder="Reply here!" style="resize: none;">{{comment}}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary editComment">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                {{else}}
                    <p style="margin-left: auto; margin-right: auto; color: rgb(131, 131, 131)">No comments has been made yet!</p>
                {{/if}}


                <hr>
            </div>
        </div>
    </div>


</div>