<div id = "main">
    <div id = "login-form">
        <h1>Signup</h1>
        <div class = "login-form">
            <form method="post" action="signup">
                <input type="text" name="username" id="signup-username" placeholder="Username"> <br>
                <p id = "error"></p>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.usernameError}}</p>
                <input type="password" name="password" id="signup-password" placeholder="Password"> <br>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.passwordError}}</p>

                <input type="email" name="email" id="signup-email" placeholder="E-mail"> <br>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.emailError}}</p>

                <input type="text" name="firstname" id="signup-firstname" placeholder="First Name"> <br>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.firstnameError}}</p>

                <input type="text" name="lastname" id="signup-lastname" placeholder="Last Name"> <br>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.lastnameError}}</p>

                <label for = "birthday-signup">Birthday</label>
                <input type="date" name="birthday" id="signup-birthday"> <br>
                <p class = "error" style="color: rgb(252, 3, 98)">{{errors.birthdayError}}</p>

                <input type="submit" name="submit-signup" id="submit-signup"> <br>
            </form>
            <br>
            <a href="/login" target = "_self" style="color:rgb(96, 230, 230);"> Already have an account?</a><br>

        </div>
    </div>
</div>